*.iml
.gradle
/.idea
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/NvStyleableTextView/build
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
.DS_Store
/captures
.externalNativeBuild
/LICENSE
/README.md
